.App {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8)),
    url("./doodle-2.jpg");
  background-size: 250px;
  background-repeat: repeat;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
